@model IList<PostItem>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Danh sách 12 tháng gần nhất và số lượng bài viết trong mỗi tháng dưới dạng các liên kết
    </h3>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Blog"
                   asp-action="Post"
                   asp-route-year="@item.Year"
                   asp-route-month="@item.Month"
                   title="@item.Year">
                    @DateTime.ParseExact(@item.Year + "-" + (@item.Month.ToString()).PadLeft(2, '0')+"-01", "yyyy-MM-dd",
                System.Globalization.CultureInfo.InvariantCulture).ToString("MMMM")
                </a>
            </li>
        }
    </ul>
</div>